<div id="container" class="container-fluid text-center" style="height: 100vh; margin: 0; padding: 0;">
   <app-banner></app-banner>
   <div class="row">
   <div class="col-md-12">
      <div class="alert alert-success box-alert-success">
        <p class="text-center">
          Your email has been successfully verified. <br>
          Please click the sign in button to get started.
        </p>
        <br>
        <img src="https://i.imgur.com/ZAIuFyv.png" width="70" height="70" alt="success" >
      </div>

      <br>

      <a href="#" class="btn btn-primary btn-lg btnstyle">Sign in and continue > </a>
    </div>
   </div>
</div>