#container{
    padding: 0;
    margin: 0;
    background-image: url("../../../assets/Blurrywall.png");
    /* Set a specific height */
    height:100%; 
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .pannel-style{
    color: lightgrey;
    background-color: rgb(33, 33, 33);  
    /* border-radius: 6px; */
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    padding: 50px;
}