#container{
  padding: 0 0 500px 0;
  margin: 0;
  background-image: url("../../../assets/Blurrywall.png");
  /* Set a specific height */


  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pannel-style{
  color: lightgrey;
  background-color: #212121;
  border-radius: 16px;
}
