<div id="container" class="container-fluid text-center" style="height: 100%; margin: 0; padding: 0;">
  <app-nav-bar></app-nav-bar>
  <div class="container-fluid" style="padding-top: 75px">
    <div class="row" style="margin:0px; width: 100%; padding-bottom: 150px">
      <div class="panel pannel-style" >
        <div class="panel-heading text-center">
          <h2>Top Albums</h2>
        </div>
        <div class="panel-body" style="padding: 0">
          <app-top-albums-list></app-top-albums-list>
        </div>
      </div>
    </div>
  </div>
</div>
