<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#hamMenu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand hidden-xs hidden-sm" href="#">Registered Intellectual Property</a>
      <a class="navbar-brand hidden-md hidden-lg" href="#">RIP</a>
    </div>

    <div class="collapse navbar-collapse" id="hamMenu">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/register"><span class="glyphicon glyphicon-user" ></span> Register</a></li>
        <li><a routerLink="../"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
