<nav class="navbar navbar-inverse" style="margin: 0 0 0 0">
  <div class="container-fluid">
    <div class="navbar-header center-block text-center">
      <div class="row">
        <div class="col-md-3 col-lg-3"></div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 text-center center-block">
          <h3 class="navbar-text " style="color: white;">RIP</h3>
        </div>
        <div class="col-md-4 col-lg-4 text-center center-block ">
          <h3 class="navbar-text text-nowrap">Registered Intellectual Property</h3>
        </div>
        <div class="col-md-3 col-lg-3"></div>
      </div>
    </div>
  </div>
</nav>
