.box-shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: rgba(225, 225, 225, .8);
}

.row{
  overflow: hidden;
}

[class*="col-"]{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.img-responsive{
  display: inline-block;
}

.pannel-style{
  color: #DFDFDF;
  background-color: #212121;
  border-radius: 16px;
}