<div class="container-fluid">
  <div class="row">
    <div class="panel  text-center" appPopupShadow style="height: 250px">
      <div class="panel-heading text-center">
        <img class="img-responsive"
             [src]="musicitem.getImagePath()"
             style="min-height: 50%; max-height: 125px"
             (click)="artworkClicked()">
      </div>

      <div class="panel-body" style="padding-top: 0; cursor: pointer">
        <div class="row">
          <h3><a style="text-emphasis: none; color: grey; cursor: pointer" (click)="songNameClicked()">{{musicitem.getSongName()}}</a></h3>
        </div>

        <div class="row" >
          <a style="text-emphasis: none; color: grey; cursor: pointer" (click)="artistClicked()" >{{musicitem.getArtist()}}</a>
        </div>

      </div>
    </div>
  </div>
</div>



