<div class="container-fluid container-styles">
  <div class="center-block text-center">
    <hr style="opacity: 0">
    <h1 class="jumbotron" style=" background: transparent;">Never Worry About Pirates Again</h1>
    <hr style="opacity: 0">
    <div class="row">
      <div class=" col-sm3 col-md-4 col-lg-4"></div>
      <div class="panel col-sm-6 col-md-4 col-lg-4 box-shadow">

        <div class="panel-heading"><h2>Please Register an Account</h2></div>

        <div class="panel-body">

<!--TODO: Reformat the layout of inputs -->

          <h2 style="text-align: center;">Holder Information</h2>
          <h3>First Name</h3>
          <div class="row">
            <div class=" col-sm2 col-md-2 col-lg-2"></div>
            <div class="col-sm-8 col-md-8 col-lg-8">
              <input placeholder="Insert Your First Name" [(ngModel)]="email" style="text-align: center;" class="form-control"/>
            </div>
            <div class=" col-sm2 col-md-2 col-lg-2"></div>
          </div>

          <h3>Last Name</h3>
          <div class="row">
            <div class=" col-sm2 col-md-2 col-lg-2"></div>
            <div class="col-sm-8 col-md-8 col-lg-8">
              <input placeholder="Insert Your Last Name" [(ngModel)]="email"  style="text-align: center;" class="form-control"/>
            </div>
            <div class=" col-sm2 col-md-2 col-lg-2"></div>
          </div>

          <h3>Date of Birth</h3>
          <div class="row">
            <div class=" col-sm2 col-md-2 col-lg-2"></div>
            <div class="col-sm-8 col-md-8 col-lg-8">
              <input class="form-control" type="date">
            </div>
            <div class=" col-sm2 col-md-2 col-lg-2"></div>
          </div>

          <br><br><br>

          <h2 style="text-align: center;">Location Information</h2>
          <h3>Country</h3>
          <div class="row">
            <div class=" col-sm2 col-md-2 col-lg-2"></div>
            <div class="col-sm-8 col-md-8 col-lg-8">
              <input class="form-control" placeholder="Insert Your Country">
            </div>
            <div class=" col-sm2 col-md-2 col-lg-2"></div>
          </div>

          <h3>City</h3>
          <div class="row">
            <div class=" col-sm2 col-md-2 col-lg-2"></div>
            <div class="col-sm-8 col-md-8 col-lg-8">
              <input class="form-control" placeholder="Input Your City">
            </div>
            <div class=" col-sm2 col-md-2 col-lg-2"></div>
          </div>

          <h3>Postal Code</h3>
          <div class="row">
            <div class=" col-sm2 col-md-2 col-lg-2"></div>
            <div class="col-sm-8 col-md-8 col-lg-8">
              <input class="form-control" placeholder="Input Your Postal Code">
            </div>
            <div class=" col-sm2 col-md-2 col-lg-2"></div>
          </div>

          <h3>Address Line 1</h3>
          <div class="row">
            <div class=" col-sm2 col-md-2 col-lg-2"></div>
            <div class=" col-sm-8 col-md-8 col-lg-8">
              <input placeholder="Insert Your Address" [(ngModel)]="email"  style="text-align: center;" class="form-control"/>
            </div>
            <div class=" col-sm2 col-md-2 col-lg-2"></div>
          </div>

          <h3>Address Line 2</h3>
          <div class="row">
            <div class=" col-sm2 col-md-2 col-lg-2"></div>
            <div class=" col-sm-8 col-md-8 col-lg-8">
              <input placeholder="Insert Your Address" [(ngModel)]="email"  style="text-align: center;" class="form-control"/>
            </div>
            <div class=" col-sm2 col-md-2 col-lg-2"></div>
          </div>

          <br><br><br>

          <h2 style="text-align: center;">Account Information</h2>
          <h3>Email</h3>
          <div class="row">
            <div class=" col-sm2 col-md-2 col-lg-2"></div>
            <div class=" col-sm-8 col-md-8 col-lg-8">
              <input placeholder="Insert a valid email address" [(ngModel)]="email"  style="text-align: center;" class="form-control"/>
            </div>
            <div class=" col-sm2 col-md-2 col-lg-2"></div>
          </div>


          <h3>Username</h3>
          <div class="row">
            <div class=" col-sm2 col-md-2 col-lg-2"></div>
            <div class=" col-sm-8 col-md-8 col-lg-8">
              <input placeholder="Insert username" [(ngModel)]="username" style="text-align: center;" class="form-control"/>
            </div>
            <div class=" col-sm2 col-md-2 col-lg-2"></div>
          </div>


          <h3>Password</h3>
          <div class="row">
            <div class=" col-sm2 col-md-2 col-lg-2"></div>
            <div class=" col-sm-8 col-md-8 col-lg-8">
              <input placeholder="Must be longer than 8 characters" [(ngModel)]="password" style="text-align: center;" class="form-control" type="password"/>
            </div>
            <div class=" col-sm2 col-md-2 col-lg-2"></div>
          </div>


          <h3>Confirm Password</h3>
          <div class="row">
            <div class=" col-sm2 col-md-2 col-lg-2"></div>
            <div class=" col-sm-8 col-md-8 col-lg-8">
              <input placeholder="Retype password" [(ngModel)]="confirmPassword"  style="text-align: center;" class="form-control" type="password"/>
            </div>
            <div class=" col-sm2 col-md-2 col-lg-2"></div>
          </div>


          <div class="row">
            <button class="btn btn-success" (click)="registerClicked()"  style="margin: 20px 0 0 0;">Create Account</button>
          </div>
          <div class="panel-success" *ngIf="success">Login was successful. Well done you programming genius  {{token}}</div>
        </div>
      </div>
      <div class=" col-sm3 col-md-4 col-lg-4"></div>
    </div>
  </div>
</div>

