<div id="container" class="container-fluid text-center" style="height: 100%; margin: 0; padding: 0;">
  <app-nav-bar></app-nav-bar>
    <div class="container-fluid" style="padding-bottom: 150px;">
    <div class="pannel-style">
      <div class="row" style="margin-left: 0; margin-right: 0">
        <app-artist-description></app-artist-description>
      </div>
    <div class="row" style="margin-left: 0; margin-right: 0">
        <app-album-list></app-album-list>
    </div>
    </div>
  </div>
</div>
