<div class="container-fluid" (click)="artistClicked()">
  <div class="row">
    <div class="panel  text-center pannel-style" appPopupShadow style="height: 250px">
      <div class="panel-heading text-center">
        <img class="img-responsive"
             [src]="artistObj.getArtistImagePath()"
             style="min-height: 50%; max-height: 125px"
             >
      </div>

      <div class="panel-body" style="padding-top: 0; cursor: pointer">
        <div class="row" style="margin-right: 0; margin-left: 0;">
          <h4 style="padding: 2px; margin: 2px"><a style="text-emphasis: none; color: lightgrey; cursor: pointer" >{{artistObj.getArtistName()}}</a></h4>
        </div>

        <div class="row" style="margin-right: 0; margin-left: 0;" >
        </div>

      </div>
    </div>
  </div>
</div>
