
<div id="container" class="container-fluid text-center" style="height: 150vh; margin: 0; padding: 0;">
  <app-banner></app-banner>
<div class="container box-shadow" >

  <div class="row">
    <div class="col">
    <header class="masthead ">
      <div class="intro-body text-center">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="text-center">
              <!-- <img src="https://cdn.discordapp.com/attachments/148327801634816000/364475763011092483/Default_idea_1.png" alt="RIP scull" style="width:250px;height:211px;"> -->
                <h1 class="brand-heading" ><strong>Welcome to Registered Intellectual Property.</strong></h1>
                <strong><p class="intro-text" style="font-size: 18px; ">Never Worry About Pirates Again.
                  <br>Created by the Abstract Team.</p></strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section id="about" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-center" >
            <h2>What's Registered Intellectual Property?</h2>
            <p>
              "Registered Intellectual Property (RIP) is a Blockchain based distribution 
               and consumption platform for music. It's built for the artists and consumers of this content."
            </p>
            <p>
              "Artists are you tired of the middle man always taking 'their' cut? Well RIP gives you the 
               power and opportunity to cut out the corporate middle men such as record labels,
               publishers, etc. allowing you to publish your work fast and independently"
            </p>
            <p>
              "As a customer you already know what you like, or maybe not? With RIP you can easily 
               find you favorite songs and/or artists, or discover something or someone entirely new."
            </p>
            <br>
            <h2>What is the "The Blockchain"?</h2>
            <p>
                “The Blockchain is a tool we can use to make a secure peer to peer transaction. It’s called
                 the block chain because it is made out of ‘blocks’. These blocks simply reflect transactions 
                 that are being made. Every 10 minutes or so the new blocks are validated to ensure the 
                 trade was made and none of the information was tampered with. More blocks mean a 
                 more secure chain.”
            </p>
            <p>
                “We ensure this security throw the use of trusted and established blockchains such as 
                <a href="https://ethereum.org/" target="_blank"><strong>Ethereum&trade;</strong></a>. Every time a transaction is to be made a smart contract is made with 
                the <a href="https://ethereum.org/" target="_blank"><strong>Ethereum&trade;</strong></a> to represent the purchase transaction, after both parties 
                have confirmed the transaction is made and it is added to a block in the chain. The 
                consumer gets the agreed on music added to their library, and the artist receives their 
                commission” 
            </p>
            <br>
            <h2>Why use "The Blockchain"?</h2>
            <p style="font-weight: Bold">
                Simple because it’s:
            </p>
            <ul>
              <li>Easy</li>
              <li>Fast</li>
              <li>Reliable</li>
              <li>Secure</li>
            </ul>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section id="getStarted" class="getstarted-section content-section text-center">
      <div class="container">
        <div class="text-center">
          <h2>Getting Started its as easy as:</h2>
          <!-- <p>Its Never Been This Easy!</p> -->
          <ul>
              <li>Step 1: Signup.</li>
              <li>Step 2: Sign in.</li>
              <li>Step 3: Enjoy!!!</li>
            </ul>
          <br>
          <a (click)="registerClicked()" class="btn btn-primary btn-lg btnstyle">Get started > </a>
        </div>
      </div>
    </section>

    <br>
    <br>
    <footer>
        <div class="container text-center">
          <p style="color: black; text-align: center"> <strong>Copyright &copy; 2017 Registered Intellectual Property. </strong></p>
        </div>
    </footer>
  </div>
</div>
</div>

</div>



