

<div id="container" class="container-fluid text-center" style="height: 100vh">
<app-banner></app-banner>
<div class="container" style="width: 90%">
  <div class="row">
    <div class="col">
    <header class="masthead ">
      <div class="intro-body text-center">
        <div class="container">
          <div class="row">
            <div class="text-center ">
              <!-- <img src="https://cdn.discordapp.com/attachments/148327801634816000/364475763011092483/Default_idea_1.png" alt="RIP scull" style="width:250px;height:211px;"> -->
              <h1 class="brand-heading">Register Intellectual Property</h1>
              <p class="intro-text">Never Worry About Pirates Again.
                <br>Created by INSERT GROUP NAME.</p>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section id="about" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="text-center">
            <h2>About Register Intellectual Property</h2>
            <p>  
              Test
            </p>
          </div>
        </div>
      </div>
    </section>


    <section id="getStarted" class="getstarted-section content-section text-center">
      <div class="container">
        <div class="text-center">
          <h2>Getting Started With Register Intellectual Property</h2>
          <p>Its Never Been This Easy!</p>
          <a href="#" class="btn btn-primary btn-lg">Get started > </a>
        </div>
      </div>
    </section>

    <br>
    <br>

  </div>
</div>
</div>

</div>

<footer class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container text-center">
      <p>Copyright &copy; 2017 Register Intellectual Property</p>
    </div>
</footer>

 
