
<div id="container" class="container-fluid text-center" style="height: 100vh; margin: 0; padding: 0">
  <app-banner></app-banner>
<div class="container">

  <div class="row">
    <div class="col">
    <header class="masthead ">
      <div class="intro-body text-center">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="text-center">
              <!-- <img src="https://cdn.discordapp.com/attachments/148327801634816000/364475763011092483/Default_idea_1.png" alt="RIP scull" style="width:250px;height:211px;"> -->
                <h1 class="brand-heading">Registered Intellectual Property</h1>
                <p class="intro-text">Never Worry About Pirates Again.
                  <br>Created by RIP Team.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section id="about" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-center" >
            <h2>What's Registered Intellectual Property?</h2>
            <p>
              "Rigistered Intellectual Property (RIP) is a blockchain based distribution and consumption platform for digital media.
               It's built for the creators and consumers of this content."
            </p>
            <p>
              "Creators are you tired of the middle man always taking 'their' cut? Well RIP gives you the power and oppertunity to cut
               out the corporate middle men such as record lables, publishers, etc. allowing you to publish your work fast and indapenantly"
            </p>
            <p>
              "As a customer you already know what you like, or maybe not? With RIP you can easily find you favorate content and/or creators,
               or descover something/someone entirely new."
            </p>
            <br>
            <h2>What is the "The Blockchain"?</h2>
            <p>
                "Coming soon..."
            </p>
            <p>
                "Coming soon..."
            </p>
            <p>
                "Coming soon..."
            </p>
            <br>
            <h2>How "The Blockchain" is making your life easier.</h2>
            <p>
                "Coming soon..."
            </p>
            <p>
                "Coming soon..."
            </p>
            <p>
                "Coming soon..."
            </p>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section id="getStarted" class="getstarted-section content-section text-center">
      <div class="container">
        <div class="text-center">
          <h2>Getting Started With Registered Intellectual Property</h2>
          <p>Its Never Been This Easy!</p>
          <br>
          <a href="#" class="btn btn-primary btn-lg">Get started with RIP > </a>
        </div>
      </div>
    </section>

    <br>
    <br>

  </div>
</div>
</div>

</div>

<footer class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container text-center">
      <p style="color: grey">Copyright &copy; 2017 Registered Intellectual Property.</p>
    </div>
</footer>


