<nav id="navbar" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header center-block text-center">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#hamMenu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a [routerLink]="['../home']" class="navbar-brand" style="color: white;">RIP</a>
    </div>

    <div class="collapse navbar-collapse" id="hamMenu">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['../home']">Home</a></li>
        <li><a [routerLink]="['../topartists']">Popular Artists</a></li>
        <li><a [routerLink]="['../topalbums']">Popular Albums</a></li>
        <li><a [routerLink]="['../wallet']">My Wallet</a></li>
        <li><a (click)="myProfileClicked()"  class="hidden-sm hidden-md hidden-lg">My Profile</a></li>
        <li><a [routerLink]="['../home']" class="hidden-sm hidden-md hidden-lg">Sign Out</a></li>
      </ul>

      <div class="navbar-text" style="width: 40%;" >
        <input class="form-control" placeholder="Search" (input)="search($event)" (focus)="isSearching = true" (blur)="waitCloseSearchbar()" />
        <div class="text-left" *ngIf="isSearching" style="background-color: white; position:fixed;" (click)="closeSearchBar()">

          <div *ngIf="songsExist" style="border-bottom: solid 1px black;" class="center-block">
            <p style="font-weight: bold;color: black">Song Search Results</p>
            <app-search-item *ngFor="let x of searchSongs" [songObj]="x"></app-search-item>
          </div>

          <div *ngIf="albumsExist" style="border-bottom: solid 1px black" class="center-block">
            <p style="font-weight: bold;color: black">Album Search Results</p>
            <app-search-item *ngFor="let x of searchAlbums" [albumObj]="x"></app-search-item>
          </div>

          <div *ngIf="artistExists" style="border-bottom: solid 1px black" class="center-block">
            <p style="font-weight: bold;color: black">Artist Search Results</p>
            <app-search-item *ngFor="let x of searchArtists" [artistObj]="x"></app-search-item>
          </div>

        </div>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li><app-wallet-nav></app-wallet-nav></li>
          <li class="dropdown" appDropdowntoggle>
            <a class="hidden-xs  dropdown-toggle glyphicon glyphicon-user" style="font-size: 1.7em;"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a (click)="myProfileClicked()">My Profile</a></li>
              <li><a [routerLink]="['']" (click)="onSignOut()">Sign Out</a></li>
            </ul>
          </li>

      </ul>
    </div>
  </div>
</nav>


