<div id="container" class="container-fluid text-center" style="height: 100vh; margin: 0; padding: 0;">
    <app-banner></app-banner>
    <div class="row">
    <div class="col-md-12">
       <div class="alert alert-danger box-alert-warning">
         <p class="text-center">
           Oops something went wrong we could not verify your email. <br>
           Please click the button below to resend the verification email.
         </p>
         <br>
         <img src="../../assets/danger.png" width="70" height="70" alt="danger" >
       </div>
 
       <br>
 
       <a href="#" class="btn btn-danger btn-lg btnstyle">Resend verification email > </a>
     </div>
    </div>
 </div>