.pannel-style{
    color: #000000;
    background-color: rgba(65, 65, 65, 0.50); 
    /* border-radius: 6px; */
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    padding: 50px;
}