<!--TODO: replace with dynamic data and resolve any layout problems-->

<div class="container-fluid">
  <div class="row text-center center-block">
    <img class="img-responsive text-center center-block" style="min-width: 1vh; max-height: 100px" src="http://s3.amazonaws.com/cdn.roosterteeth.com/uploads/images/e538ae1f-2e32-4bec-9079-1638f8e72043/md/2074838-1442777420860-profile.jpg"/>
  </div>
  <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-3 col-lg-3">
      <img class="img-responsive" style="max-height: 100px" src="http://s3.amazonaws.com/cdn.roosterteeth.com/uploads/images/e538ae1f-2e32-4bec-9079-1638f8e72043/md/2074838-1442777420860-profile.jpg"/>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-9 col-lg-9">
      <div class="row">
        <h2>Album Name</h2>
      </div>
      <div class="row">
        <h3>Artist Name</h3>
      </div>
      <div class="row">
        <p>Release date <span class="glyphicon glyphicon-fire"></span></p>
      </div>
    </div>
  </div>

  <div class="row">
    <ul class="list-group">
      <li class="list-group-item">1 Test Track</li>
      <li class="list-group-item">2 Test Track</li>
      <li class="list-group-item">3 Test Track</li>
      <li class="list-group-item">4 Test Track</li>
    </ul>
  </div>
</div>
