<!--TODO: replace with dynamic data and resolve any layout problems-->

<div class="container-fluid" style="padding: 0; margin: 0">
  <div class="row text-center center-block">
    <img class="img-responsive text-center center-block" style="width: 100%; max-height: 400px; padding: 0" [src]="albumObj.getArtistImagePath()"/>
  </div>
  <div class="row" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <div class="col-xs-2 col-sm-2 col-md-3 col-lg-3">
      <img class="img-responsive" style="max-height: 100px; margin: 10px" [src]="albumObj.getAlbumArtworkPath()"/>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-9 col-lg-9">
      <div class="row">
        <h2>{{albumObj.getAlbumName()}}</h2>
      </div>
      <div class="row">
        <h3>{{albumObj.getAlbumArtist()}}</h3>
      </div>
      <div class="row">
        <p>{{albumObj.getAlbumReleaseDate()}} <span class="glyphicon glyphicon-fire"></span></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="list-group">
      <app-track-list-item *ngFor="let x of albumObj.getSongs(); let i = index" [song]="x" [trackNumber]="i"></app-track-list-item>
    </div>
  </div>
</div>
