<div class="container-fluid"  style="bottom: 0; position: fixed; width: 100%">
  <div class="panel-footer">
    <div class="row">
      <div class="progress" (click)="progressChanged($event)" id="progressContainer">
        <div
             class="progress-bar"
             role="progressbar"
             [attr.aria-valuenow]="currentTime"
             aria-valuemin="0"
             attr.aria-valuemax="1"
             id="progressBar"
             [ngStyle]="{'width': progress+'%'}"
             >
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4">
        <img class="img-responsive" style="max-height: 50px" [src]="currentlyPlaying.imagePath">
      </div>

      <!--Hidden audio track that connects with music footer-->
      <audio controls id="music" (timeupdate)="timeUpdated()" (loadedmetadata)="displayMetaData()" hidden>
        <source src="" type="audio/mp3" />
      </audio>

      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center center-block" style="font-size: 2em; letter-spacing: 10px">
        <span class="glyphicon glyphicon-backward" (click)="rewindPressed()" ></span>
        <span class="glyphicon glyphicon-pause" style="font-size: 1.3em"  (click)="playPressed()" id="playButton"></span>
        <span class="glyphicon glyphicon-forward" (click)="forwardPressed()"></span>
      </div>
    </div>


  </div>
</div>
