<div class="container-fluid" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <div class="row center-block">
    <img [src]="artistObj.getArtistImagePath()" class="img-responsive center-block" style="max-height: 400px"/>
  </div>

  <div class="row text-center jumbotron" style="background-color: transparent;  padding-bottom: 0px; margin-top: 0px; ">
    <h1 >{{artistObj.getArtistName()}}</h1>
    <p *ngIf="!isEditingDetails">{{artistObj.getArtistBio()}}</p>
    <input *ngIf="isEditingDetails" id="newBio" class="form-control" [value]="artistObj.getArtistBio()"/>
    <button *ngIf="isEditingDetails" (click)="saveChanges()" class="btn btn-success">Save Changes</button>
    <button *ngIf="isEditingDetails" (click)="discardChanges()" class="btn btn-danger">Discard Changes</button>
    <p *ngIf="updatedBioSuccessfully && isEditingDetails" class="panel-success"><span class="glyphicon glyphicon-check"> </span> Changes saved</p>

    <div *ngIf="isOwnProfile == true" class="panel-group pull-right">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#manageGroup">Manage Content <div class="caret"></div></a>
          </h4>
        </div>
        <div id="manageGroup" class="panel-collapse collapse">
          <div class="panel-heading">
            <div class="btn-group-vertical">
              <button class="btn btn-primary" (click)="editDetails()"><span class="glyphicon glyphicon-pencil" > </span> Edit Profile</button>
              <button class="btn btn-primary" (click)="manageContent()"><span class="glyphicon glyphicon-music"> </span> Manage Content </button>
              <button class="btn btn-success" data-toggle="modal" data-target="#uploadModal"><span class="glyphicon glyphicon-plus-sign"> </span> Upload New Content</button>
              <button class="btn btn-danger"><span class="glyphicon glyphicon-remove"> </span> Delete Content</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Trigger the modal with a button -->
<button id="toggle-modal" data-toggle="modal" data-target="#editAlbumModal" hidden>edit</button>


<!--TODO: add functionality for modal-->
<!-- Modal -->
<div id="editAlbumModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">{{albumToManage.getAlbumName()}}</h2>
      </div>
      <div class="modal-body">
        <div class="row" style="margin-left: 0; margin-right: 0">
          <div class="col-md-12 col-lg-12 text-center center-block">
            <img [src]="albumToManage.getAlbumImagePath()" class="image img-responsive text-center center-block" style="max-height: 200px;"/>
          </div>
          <div class="col-md-12 col-lg-12" >
            <h4>{{albumToManage.getAlbumName()}}</h4>
            <h4>{{albumToManage.getAlbumReleaseDate()}}</h4>
            <app-edit-album-list [album]="albumToManage"></app-edit-album-list>
            <div class="btn-group">
              <button *ngIf="albumNotReleased" class="btn btn-success" (click)="releaseAlbum()">{{releasedSuccess?'Success':'Release Album'}}</button>
              <button class="btn btn-default" (click)="editAlbum()">Edit Album</button>
              <button class="btn btn-danger" (click)="deleteAlbum()">Delete Album</button>
            </div>
          </div>
          <div *ngIf="editingSong" class="row" style="margin-right: 0; margin-left: 0">
            <div class="row">
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><input class="form-control" [value]="editSongName"/></div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">{{songToEdit.getArtist()}}</div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><input class="form-control" [value]="editSongPrice"/></div>
            </div>

            <div class="row">
              <div class="btn-group">
                <button class="btn btn-success">Save Changes</button>
                <button class="btn btn-danger" (click)="editingSong=false">Discard Changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div id="uploadModal" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width:80%">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">Upload New Content</h2>
      </div>
      <div class="modal-body center-block">

        <form class="form-group" id="uploadForm">
          <h4>Album Cover</h4>
          <div class="row center-block" style="margin-left: 0; margin-right: 0; padding-bottom: 10px">
            <div class="text-center">
              <img [src]="imgPath" class="img-responsive center-block" style="max-height: 75px"/>
              <input id="artUpload" type="file" class="btn btn-success center-block" name="artPicture"/>
            </div>
          </div>

          <h4>Album Details</h4>
          <div class="row center-block" style="margin-left: 0; margin-right: 0;">
            <p style="font-weight: bold">Album Title</p>
            <input name="album_name" class="form-control" placeholder="Album Title" id="album_name"/>
          </div>

          <h4>Album Songs</h4>
          <div class="row center-block" style="margin-right: 0; margin-left: 0;">
            <input class="btn btn-success center-block" type="file" name="songs" accept=".mp3" multiple id="songInput" (change)="listSongs()"/>
            <app-create-songs [songList]="createSongsList"></app-create-songs>
          </div>


          <div class="btn-group" style="padding-top: 20px">
            <button class="btn btn-success" [disabled]="!uploadActive" (click)="upload()">Upload+Release</button>
            <p>NOTE: The album is not released on upload. To enable others to see your content go to manage content, click on the album and release it.</p>
          </div>
        </form>


      </div>
      <div class="modal-footer">
        <div class="row" style="margin-left: 0; margin-right: 0">
          <div *ngIf="isUploading"
               class="progress"
               style="width: 100%"
               aria-valuemax="100"
               aria-valuemin="0"
               style="margin-bottom: 0;
                      border: solid rgba(1,1,1,.2) 1px;
                      background-color:grey">
            <div
              class="progress-bar"
              [ngStyle]="{'width':progress+'%'}"
              role="progressbar">

            </div>
          </div>
          <div *ngIf="uploadSuccess" class="panel-success"><h4>Content Uploaded</h4></div>
          <div *ngIf="uploadError || !creatingSongsSuccess" class="panel-success"><h4>Upload Failed</h4></div>
        </div>


        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
